@charset "ISO-8859-1";
body {
    background-image: url("marietto.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
     font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
}


 .a {
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    color: yellow;
    font-size: 50px;
  }


  .b {
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    color: yellow;
    font-size: 30px;
  }
  
    .c {
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    color: yellow;
    font-size: 20px;
  }
  * {
	margin: 0;
}
html, body {
	height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
     color: white;
	height: 142px; 
}
.site-footer {
  background: black;
}