@charset "ISO-8859-1";


body {
  margin: 0px;
  padding: 0px;
}
nav {
  padding:0px 20px;
}
ul {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title{
	font-family: 'Wallpoet', cursive;
	color: yellow;
	font-size: 80px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:10px;
  padding-bottom: 70px;
 
}

.linea2 {
  display: flex;
  margin-left: 30px;
  margin-right: 70px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 70px;
  font-size: 40px;
}

body {
  background-image: url("redmario.jpg");
  background-repeat: no-repeat;
  
  background-size: cover;
}

.font {
	font-family: 'Orbitron', sans-serif;
	color: yellow;
	font-size: 30px;
}


.font2 {
	font-family: 'Orbitron', sans-serif;
	color: yellow;
	font-size: 30px;
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
     color: white;
	height: 142px; 
}
.site-footer {
  background: black;
} 
 


